<tr>
  <td class="align-middle"><img src="<%= badge.image %>" alt="image" width="50" height="60"></td>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= badge.rule %></td>
  <td class="align-middle"><%= badge.value %></td>
  <td class="align-middle"><%= badge_amount(current_user, badge) %></td>
</tr>
