<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.pass? %>
  <p>
  <%= t('.success_html') %><span id="success"><%= @test_passage.correct_questions %></span>
  </p>
<% else %>
  <p>
  <%= t('.fail_html') %><span id="fail"><%= @test_passage.correct_questions %></span>
  </p>
<% end %>  

<p><%= link_to t('navigation.links.to_all_tests'), tests_path %></p>
