<h2><%= @question.test.title.capitalize %></h2>
<p><strong class="fs-5"><%= t('.head') %> </strong><%= @question.body %></p>

<h4><%= t('.answers') %></h4>
<%= link_to t('navigation.links.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
<%= render @question.answers %>
</ol>

<%= link_to t('navigation.links.to_all_questions'), admin_test_path(@question.test) %> | 
<%= link_to t('navigation.links.edit'), edit_admin_question_path(@question) %> | 
<%= link_to t('navigation.links.delete.method.'), admin_question_path(@question), method: :delete, data: { confirm: t('navigation.links.delete.confirm') } %>
