<p>
<strong><%= t('tests.index.body.title') %>: </strong>
<%= @test.title.capitalize %>
</p>

<p>
<strong><%= t('tests.index.body.level') %>: </strong>
<%= @test.level %>
</p>

<p>
<%= render 'admin/questions/list' %>
</p>

<%= link_to t('navigation.links.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('navigation.links.to_all_tests'), admin_tests_path %>
