<p>
<strong><%= t('tests.index.body.title') %>: </strong>
<%= @test.title.capitalize %>
</p>

<p>
<strong><%= t('tests.index.body.level') %>: </strong>
<%= @test.level %>
</p>

<p>
<strong><%= t('tests.index.body.time') %>: </strong>
<%= @test.time %>
</p>

<table class="table mt-6">
  <%= render 'admin/questions/list' %>
</table><br>

<%= link_to t('navigation.links.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('navigation.links.to_all_tests'), admin_tests_path %>
