<h2><%= t('.header') %></h2>

<table>
  <tr>
    <th><%= t('.body.title') %></th>
    <th><%= t('.body.level') %></th>
    <th><%= t('.body.questions') %></th>
    <th><%= t('.body.action') %></th>
  </tr>
  <%= render @tests %>
</table>
