<div class="row justify-content-center">
  <div class="col col-md-8">
    <h2 class="text-center"><%= t('.header') %></h2>

      <table class="table mt-4">
        <tr class="fs-5">
          <th scope="col" class="sort-by-title pointer">
            <%= t('.body.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
            </th>
          <th scope="col"><%= t('.body.level') %></th>
          <th scope="col"><%= t('.body.questions') %></th>
          <th scope="col"><%= t('.body.time') %></th>
          <th scope="col"><%= t('.body.action') %></th>
        </tr>
        <%= render @tests %>
      </table>
  </div>
</div>
