<p>
<strong>Title: </strong>
<%= @test.title.capitalize %>
</p>

<p>
<strong>Level: </strong>
<%= @test.level %>
</p>

<p>
<%= render template: 'questions/index' %>
</p>

<%= link_to 'Edit test', edit_test_path(@test) %> |
<%= link_to 'Back to all tests', tests_path %>
