<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav ul">
      <% if logged_in? %>
        <li class="nav user"><%= link_to 'Sign Out', signout_path, method: :delete %></li>
        <li class="nav user"><b> Welcome, <%= current_user.name %> Guru</b></li>
      <% else %>
        <li class="nav user"><%= link_to 'Sign In', signup_path %></li>
        <li class="nav user"><%= link_to 'Log In', login_path %></li>
      <% end %>

      <li float: left><b><%= link_to 'TestGuru', root_path %></b></li>
    </ul>

    <p>
    <%= yield %>
    </p>
    <%= render 'shared/footer' %>
  </body>
</html>
